.toolbar{
    background-color: darkred;
    width: auto;
    max-height: 15vh; 
}
.logo-holder {
    width: 10vh;
    height: inherit;
}
.logo-holder img {
    width: 100%;
    height: auto;
    margin: 1vh;
}