.castello{
    width: 100vw;
    height: auto;
    display: inline-block;
    align-content: center;
    background-color: khaki;


    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}